.text-align {
    text-align: start;
}

.max-width {
    width: 100%
}

.justify-right {
    display: flex;
    justify-content: flex-end;
}

.justify-row-left {
    display: flex;
    justify-content: flex-start;
}

.justify-row-center {
    display: flex;
    justify-content: center;
}

.justify-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*::-webkit-scrollbar {
    width: 3px;
    background-color: #e4e4e5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c0bebc;
}